<% flash.each do |type, message| %>
  <div>
    <% if message.is_a?(Array) %>
      <% message.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% else %>
      <%= message %>
    <% end %>
  </div>
<% end %>